:root[data-theme="light"] {
  --text: rgb(11, 0, 20);
  --background: rgb(253, 250, 255);
  --primary: rgb(157, 22, 254);
  --secondary: rgb(254, 124, 217);
  --accent: rgb(254, 72, 139);

  --bg-gradient-1: linear-gradient(
      135deg,
      #ffffff,
      #ecd7ff
  );

  --bg-gradient-2: linear-gradient(
      135deg,
      #f6ebff,
      #ffd9ef
  );

  --bg-gradient-3: linear-gradient(
      135deg,
      #fff0f8,
      #f0d8ff
  );

  --bg-m-gradient-1: linear-gradient(135deg, #f2e4ff, #cfa1ff);
  --bg-m-gradient-2: linear-gradient(135deg, #ffe2f2, #ff9fd0);
  --bg-m-gradient-3: linear-gradient(135deg, #f8ddff, #b985ff);

  --bg-d-gradient-1: linear-gradient(135deg, #d8b8ff, #9d4cff);
  --bg-d-gradient-2: linear-gradient(135deg, #ffc0e3, #ff5fae);
  --bg-d-gradient-3: linear-gradient(135deg, #f0b8ff, #8f4dff);

}
:root[data-theme="dark"] {
  --text: rgb(246, 235, 255);
  --background: rgb(3, 0, 5);
  --primary: rgb(137, 1, 233);
  --secondary: rgb(131, 1, 94);
  --accent: rgb(183, 1, 68);

  --bg-gradient-1: linear-gradient(
      135deg,
      #12061b,
      #280c3d
  );

  --bg-gradient-2: linear-gradient(
      135deg,
      #1b0826,
      #3a1030
  );

  --bg-gradient-3: linear-gradient(
      135deg,
      #140818,
      #35104f
  );

  --bg-m-gradient-1: linear-gradient(135deg, #2a1242, #6830d8);
  --bg-m-gradient-2: linear-gradient(135deg, #39132d, #ad2c7a);
  --bg-m-gradient-3: linear-gradient(135deg, #251540, #5b33c8);

  --bg-d-gradient-1: linear-gradient(135deg, #44206d, #8d3dff);
  --bg-d-gradient-2: linear-gradient(135deg, #5a1d48, #e33b98);
  --bg-d-gradient-3: linear-gradient(135deg, #38206c, #7040ff);
}